@font-face {
  font-family: "icomoon";
  src: url("../icons/fonts/icomoon.eot?83xrqu");
  src: url("../icons/fonts/icomoon.eot?83xrqu#iefix")
      format("embedded-opentype"),
    url("../icons/fonts/icomoon.ttf?83xrqu") format("truetype"),
    url("../icons/fonts/icomoon.woff?83xrqu") format("woff"),
    url("../icons/fonts/icomoon.svg?83xrqu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
